<%- include('partials/head') %>

<h2>Compra confirmada!</h2>
<br/>
<p><b>Nome do cliente: </b><%= currentUser.username %></p>
<p><b>Nome do produto: </b><%= lojaNomeProduto %></p>
<p><b>Preço do produto: </b><%= total %></p>
<a href="/lojas"><button class="botoes">Voltar</button></a> 
<%- include('partials/footer') %>