<%- include('partials/head') %>
    
<h2>Carrinho</h2>

<div class="container">
<form action="/confirmar" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= currentUser.username %>" readonly required>
      </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= currentUser.email %>" readonly required>
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="endereco" value="<%= currentUser.endereco %>" readonly required>
    </div>
    <div class="mb-3">
        <label for="total" class="form-label">Total</label>
       <input type="text" class="form-control" id="total" name="total" value="R$ <%= quantidadeCarrinho * loja.preco %>" readonly>
      </div>
      <input type="hidden" name="lojaNomeProduto" id="lojaNomeProduto" value="<%= loja.nome %>">
    <br/>
    <button type="submit">Confirmar a compra</button>
  </form>
</div>
<script src="/js/script.js"></script>

<%- include('partials/footer') %>
